<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.drugManagement.drugInformationTenance.DrugInformationOtherMapper">

    <resultMap id="ALL" type="com.gxa.entity.drugManagement.basicInfo.BasicInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="queryAllType" resultMap="ALL">
        SELECT t.id,i.name FROM
         `drugManagement_basicInfo` AS i INNER JOIN `drugManagement_basicType` AS t
         ON i.type_id =t.id
         WHERE t.id=#{drugTypeId}
    </select>
    <insert id="addOneType" parameterType="com.gxa.entity.drugManagement.basicInfo.BasicInfo">
        insert into `drugManagement_basicInfo` values(null,#{name},#{id});
    </insert>
</mapper>