<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.drugManagement.inboundManagement.InboundManagerMapper">
    <resultMap id="queryAlls" type="com.gxa.entity.drugManagement.inboundManagement.InboundInfo">
        <id property="id" column="id"/>
        <result property="receiptNo" column="receipt_no"/>
        <result property="receiptType" column="receipt_type"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="voucherPreparer" column="voucher_preparer"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="retailAmount" column="retail_amount"/>
        <result property="warehousingPersonnel" column="warehousing_personnel"/>
        <result property="createTime" column="create_time"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="reviewer" column="reviewer"/>
        <result property="remarks" column="remarks"/>
        <result property="preparationDate" column="preparation_date"/>
        <result property="receiptTime" column="receipt_time"/>
        <result property="auditDate" column="audit_date"/>
    </resultMap>
    <!--    主页,查询所有 入库-->
    <select id="queryAll" resultMap="queryAlls">
        select * from `drugManagement_inboundManagement_inboundInfo`
                 <choose>
                     <when test="isAll != null and isAll !=''">

                     </when>
                        <otherwise>
                            where `supplier_name` is not null
                        </otherwise>
                 </choose>

    </select>

<!--    编辑与查看信息
            仅仅查看入库信息-->
    <select id="queryById" resultMap="queryAlls">
        select * from `drugManagement_inboundManagement_inboundInfo` where id = #{id} and `supplier_name` is not null
    </select>

    <!--    仅仅查看入库药品-->
    <resultMap id="queryArrayByIds" type="com.gxa.entity.drugManagement.inboundManagement.IOboundInfoAddArray">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="drug_type" property="drugType"/>
        <result column="drug_specifications" property="drugSpecifications"/>
        <result column="drug_name" property="medicalName"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="medical_number" property="medicalNumber"/>
        <result column="unit" property="unit"/>
        <result column="purchase_price" property="purchasePrice"/>
        <result column="retail_price" property="retailPrice"/>
        <result column="batch_no" property="batchNo"/>
        <result column="expiry_drugs_date" property="expiryDrugsDate"/>
        <result column="purchase_amount" property="purchaseAmount"/>
        <result column="retail_amount" property="retailAmount"/>
        <result column="inbound_info_id" property="inboundInfoId"/>
        <result column="outbound_info_id" property="outboundInfoId"/>
    </resultMap>
    <select id="queryArrayById" resultMap="queryArrayByIds">
        select * from `drugManagement_outboundManagement_ioboundInfoAddArray` where inbound_info_id = #{id}
    </select>

    <!--    删除主表的单个id-->
    <delete id="deleteInboundInfoById">
        delete from `drugManagement_inboundManagement_inboundInfo` where id = #{id}
    </delete>
    <!--    删除:根据主表id删除所有有关联数组-->
    <delete id="deleteInboundInfoArrayById">
        delete from `drugManagement_outboundManagement_ioboundInfoAddArray` where inbound_info_id =#{id}
    </delete>

<!--    主页搜索功能-->
    <select id="search" resultType="com.gxa.entity.drugManagement.inboundManagement.InboundInfo">
        select * from `drugManagement_inboundManagement_inboundInfo`
        <trim prefix="where" suffixOverrides="and|or" prefixOverrides="and|or">
            <if test="auditStatus != null">
                audit_status = #{auditStatus} and `supplier_name` is not null and
            </if>
            <if test="receiptType !=null and receiptType!=''">
                receipt_type = #{receiptType} and
            </if>
            <if test="rules!=null and rules != ''">
                and(receipt_no like concat('%',#{rules},'%') or
                supplier_name like concat('%',#{rules},'%'))
            </if>
        </trim>

    </select>
    <select id="queryIoArrayIdByInboundId" resultType="java.lang.Integer">
        SELECT `id` FROM drugManagement_outboundManagement_ioboundInfoAddArray where inbound_info_id in
        (<foreach collection="ioInfoID" item="ioInfoID" separator=",">
        #{ioInfoID}
        </foreach>)
    </select>

    <!--    保存主页入库信息-->
    <insert id="saveInboundInfo">
        insert into `drugManagement_inboundManagement_inboundInfo` values
        (#{id},#{receiptNo},
        #{receiptType},#{supplierName},
        #{voucherPreparer},#{purchasePrice},
        #{retailAmount},#{warehousingPersonnel},
        #{createTime},#{auditStatus},
        #{receiptTime},#{preparationDate},
        #{remarks},#{reviewer},
        #{auditDate})
    </insert>
<!--    保存添加药品列表-->
    <insert id="saveInboundInfoArray">
        insert into `drugManagement_outboundManagement_ioboundInfoAddArray` values
        <foreach collection="IOboundInfoAddList" item="IOboundInfoArray" separator=",">
            (<choose>
                <when test="IOboundInfoArray.id = null and IOboundInfoArray.id != ''">
                    #{IOboundInfoArray.id}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
             ,#{IOboundInfoArray.code},
            #{IOboundInfoArray.drugType},#{IOboundInfoArray.medicalName},
            #{IOboundInfoArray.drugSpecifications},#{IOboundInfoArray.manufacturer},
            #{IOboundInfoArray.medicalNumber},
            #{IOboundInfoArray.unit},#{IOboundInfoArray.purchasePrice},
            #{IOboundInfoArray.retailPrice},#{IOboundInfoArray.batchNo},
            #{IOboundInfoArray.expiryDrugsDate},#{IOboundInfoArray.purchaseAmount},
            #{IOboundInfoArray.retailAmount},
            <choose>
                <when test="InboundInfoId != null and InboundInfoId != ''">
                    #{InboundInfoId},0
                </when>
                <otherwise>
                    0,#{OutboundInfoId}
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
<!--    更新主页显示信息-->
    <update id="updateInboundInfo">
        update `drugManagement_inboundManagement_inboundInfo` set
        receipt_no = #{receiptNo},
        receipt_type = #{receiptType},
        supplier_name = #{supplierName},
        voucher_preparer = #{voucherPreparer},
        purchase_price = #{purchasePrice},
        retail_amount = #{retailAmount},
        warehousing_personnel = #{warehousingPersonnel},
        create_time = #{createTime},
        audit_status = #{auditStatus},
        receipt_time = #{receiptTime},
        preparation_date = #{preparationDate},
        remarks = #{remarks},
        reviewer = #{reviewer},
        audit_date = #{auditDate}
        where id = #{id}
    </update>

<!--    更新array-->
<!--    <update id="updateInboundInfoArray">-->
<!--        update `drugManagement_outboundManagement_ioboundInfoAddArray` set-->
<!--        code = #{code},-->
<!--        drug_name = #{medicalName},drug_type = #{drugType},-->
<!--        drug_specifications = #{drugSpecifications},manufacturer = #{manufacturer},-->
<!--        medical_number = #{medicalNumber},-->
<!--        unit = #{unit},purchase_price = #{purchasePrice},-->
<!--        retail_price = #{retailPrice},retail_price = #{batchNo},-->
<!--        expiry_drugs_date = #{expiryDrugsDate},purchase_amount = #{purchaseAmount},-->
<!--        retail_amount = #{retailAmount},-->
<!--            <choose>-->
<!--                <when test="IOboundInfoArray.InboundInfoId != null and IOboundInfoArray.InboundInfoId != ''">-->
<!--                    inbound_info_id = #{IOboundInfoArray.InboundInfoId},outbound_info_id = 0-->
<!--                </when>-->
<!--                <otherwise>-->
<!--                    inbound_info_id = 0,outbound_info_id = #{IOboundInfoArray.OutboundInfoId}-->
<!--                </otherwise>-->
<!--            </choose>-->
<!--            where id = #{id}-->
<!--    </update>-->

    <update id="updateInboundInfoArray">
        update `drugManagement_outboundManagement_ioboundInfoAddArray` set
        code = #{code},
        drug_name = #{medicalName},drug_type = #{drugType},
        drug_specifications = #{drugSpecifications},manufacturer = #{manufacturer},
        medical_number = #{medicalNumber},
        unit = #{unit},purchase_price = #{purchasePrice},
        retail_price = #{retailPrice},retail_price = #{batchNo},
        expiry_drugs_date = #{expiryDrugsDate},purchase_amount = #{purchaseAmount},
        retail_amount = #{retailAmount},
        <choose>
            <when test="IOboundInfoArray.InboundInfoId != null and IOboundInfoArray.InboundInfoId != ''">
                inbound_info_id = #{IOboundInfoArray.InboundInfoId},outbound_info_id = 0
            </when>
            <otherwise>
                inbound_info_id = 0,outbound_info_id = #{IOboundInfoArray.OutboundInfoId}
            </otherwise>
        </choose>
        where id = #{id}
    </update>
    
    <update id="updateInventoryInfo">
        update `drugManagement_inventoryManagement_inventoryInfo` set
        stock = case drug_info_id
        <foreach collection="newInventoryInfos" item="Inventory">
            when #{Inventory.medicalId} then #{Inventory.stock}
        </foreach>
        end
        where drug_info_id in
        <trim suffix=")" prefix="(" suffixOverrides=",">
            <foreach collection="newInventoryInfos" item="Inventory">
                #{Inventory.medicalId},
            </foreach>
        </trim>
    </update>

    </mapper>