<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.toll.TollMapper">
    <resultMap id="tollResultMap" type="com.gxa.entity.tolls.Toll">
        <id property="tollId" column="toll_id"/>
        <result property="tollNumber" column="toll_number"/>
        <result property="tollType" column="toll_type"/>
        <result property="tollName" column="toll_name"/>
        <result property="tollGender" column="toll_gender"/>
        <result property="tollAge" column="toll_age"/>
        <result property="tollPhone" column="toll_phone"/>
        <result property="tollDoctor" column="toll_doctor"/>
        <result property="tollCreatTime" column="toll_creat_time"/>
        <result property="tollMoney" column="toll_money"/>
        <result property="tollState" column="toll_state"/>
    </resultMap>

    <select id="queryByTollNumberName" resultType="com.gxa.entity.tolls.Toll">
        SELECT toll_id,toll_number,toll_type,toll_name,toll_gender,toll_age,toll_phone,toll_doctor,toll_creat_time,toll_money,toll_state
        FROM toll
        WHERE toll_state=#{tollState} AND (toll_number=#{tollNumberName} or toll_name=#{tollNumberName})
    </select>
    <select id="queryByDateTime" resultType="com.gxa.entity.tolls.Toll">
        SELECT toll_id,toll_number,toll_name,toll_gender,toll_age,toll_phone,toll_doctor,toll_creat_time,toll_money,toll_state
        FROM toll
        WHERE toll_creat_time &gt;= #{firstTime} and toll_creat_time &lt;= #{lastTime}
    </select>
</mapper>