<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.CheckProjectSetMapper">
    <insert id="insert">
        insert into CPSMainTable(creationTime,itemNumber,projectName,costPrice,retailPrice,unit,projectCategory,invoiceItem,part,projectStatus,remarks)
        values(#{creationTime},#{itemNumber},#{projectName},#{costPrice},#{retailPrice},#{unit},#{projectCategory},#{invoiceItem},#{part},#{projectStatus},#{remarks})
    </insert>

    <update id="update">
        update CPSMainTable
        set creationTime=#{creationTime},itemNumber=#{itemNumber},projectName=#{projectName},costPrice=#{costPrice},retailPrice=#{retailPrice},unit=#{unit},projectCategory=#{projectCategory},invoiceItem=#{invoiceItem},part=#{part},projectStatus=#{projectStatus},remarks=#{remarks}
        where id=#{id}
    </update>

    <update id="delete" >
        update CPSMainTable
        set projectStatus="0"
        where id=#{id}
    </update>

    <update id="change">
        update CPSMainTable
        set projectStatus="1"
        where id=#{id}
    </update>

    <select id="selectALl" resultType="com.gxa.entity.systemSettings.CPSMainTable">
        select * from CPSMainTable
    </select>


    <select id="select" resultType="com.gxa.entity.systemSettings.CPSMainTable">
        select * from CPSMainTable
        <where>
            <if test="projectName!=null">
                and projectName=#{projectName}
            </if>
            <if test="itemNumber!=null">
                and itemNumber=#{itemNumber}
            </if>
        </where>
    </select>

    <select id="select1" resultType="com.gxa.entity.systemSettings.CPSMainTable">
        select * from CPSMainTable
        <where>
            <if test="projectStatus!=null" >
                and projectStatus=#{projectStatus}
            </if>
        </where>
    </select>

    <select id="select2" resultType="com.gxa.entity.systemSettings.CPSMainTable">
        select * from CPSMainTable
        <where>
            <if test="projectStatus!=null" >
                and projectStatus=#{projectStatus}
            </if>
            <if test="projectName!=null">
                and projectName=#{projectName}
            </if>
            <if test="itemNumber!=null">
                and itemNumber=#{itemNumber}
            </if>
        </where>
    </select>


    <select id="drop" resultType="com.gxa.entity.systemSettings.CPSViceTable">
        select * from CPSViceTable
    </select>


</mapper>