<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.ClinicInformationMapper">
<resultMap id="clinicinformation" type="com.gxa.entity.systemSettings.ClinicInformation">
    <id property="clinicNo" column="clinicno"></id>
    <result property="clinicName" column="clinicname"></result>
    <result property="logo" column="logo"></result>
    <result property="clinicOwner" column="clinicowner"></result>
    <result property="ownerPhone" column="ownerphone"></result>
    <result property="ownerEmail" column="owneremail"></result>
    <result property="address" column="address"></result>
    <result property="detailedAddress" column="detailedaddress"></result>
    <result property="clinicIntroduce" column="clinicintroduce"></result>
    <result property="clinicState" column="clinicstate"></result>
</resultMap>
    <update id="updateClinic" parameterType="com.gxa.entity.systemSettings.ClinicInformation">
        UPDATE clinitinformation
        SET clinicno=#{clinicNo},clinicname=#{clinicName},logo=#{logo},clinicowner=#{clinicOwner},ownerphone=#{ownerPhone},owneremail=#{ownerEmail},
        address=#{address},detailedaddress=#{detailedAddress},clinicintroduce=#{clinicIntroduce},clinicstate=#{clinicState}

    </update>

    <select id="queryAll" resultMap="clinicinformation">
        SELECT *
        FROM clinitinformation

    </select>
</mapper>