<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.RolesSetMapper">
    <resultMap id="resultMap" type="com.gxa.entity.systemSettings.Role">
        <id property="id" column="id"></id>
        <result property="roleNumber" column="roleNumber"/>
        <result property="nameR" column="name"/>
        <result property="description" column="description"/>
        <result property="creationTime" column="creationTime"/>
        <result property="createPerson" column="createPerson"/>
        <result property="roleStatus" column="roleStatus"/>

    </resultMap>
    <insert id="insert">
        insert into role(creationTime,roleNumber,name,description,createPerson,roleStatus)
        values (#{creationTime},#{roleNumber},#{nameR},#{description},#{createPerson},#{roleStatus})
    </insert>

    <!--    <insert id="insert">-->
<!--        insert into CPSMainTable(itemNumber,projectName,costPrice,retailPrice,unit,projectCategory,invoiceItem,part,projectStatus,remarks)-->
<!--        values(#{itemNumber},#{projectName},#{costPrice},#{retailPrice},#{unit},#{projectCategory},#{invoiceItem},#{part},#{projectStatus},#{remarks})-->
<!--    </insert>-->

    <update id="update">
        update role
        set creationTime=#{creationTime},roleNumber=#{roleNumber},name=#{nameR},description=#{description},creationTime=#{creationTime},createPerson=#{createPerson},roleStatus=#{roleStatus}
        where id=#{id}
    </update>

    <delete id="delete">
        delete from role where id = #{id}
    </delete>

    <!--    <delete id="delete">-->
<!--        delete from CPSMainTable-->
<!--        where id=#{id}-->
<!--    </delete>-->

    <select id="selectAll" resultMap="resultMap">
        select * from role
    </select>

    <select id="select" resultMap="resultMap">
        select * from role where name=#{name}
    </select>

    <!--    <select id="select" resultType="com.gxa.entity.systemSettings.CPSMainTable">-->
<!--        select * from CPSMainTable-->
<!--        <where>-->
<!--            <if test="projectStatus!=null">-->
<!--                and projectStatus=#{projectStatus}-->
<!--            </if>-->
<!--            <if test="projectName!=null">-->
<!--                and projectName=#{projectName}-->
<!--            </if>-->
<!--            <if test="itemNumber!=null">-->
<!--                and itemNumber=#{itemNumber}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="drop" resultType="com.gxa.entity.systemSettings.CPSViceTable">-->
<!--        select * from CPSViceTableCheckProjectSetMapper.xml-->
<!--    </select>-->
</mapper>