<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.SupplierMapper">
    <resultMap id="supplier" type="SupplierAdministration">
        <id property="id" column="id"></id>
        <result property="supplierno" column="supplierno"></result>
        <result property="suppliername" column="suppliername"></result>
        <result property="contacts" column="contacts"></result>
        <result property="phone" column="phone"></result>
        <result property="timeing" column="timeing"></result>
        <result property="foundperson" column="foundperson"></result>
        <result property="supplierstate" column="supplierstate"></result>

    </resultMap>
    <insert id="addSupplier">
        INSERT INTO supplieradministration(supplierno,suppliername,contacts,phone,timeing,foundperson,supplierstate)
        VALUE (#{supplierno},#{suppliername},#{contacts},#{phone},#{timeing},#{foundperson},#{supplierstate})

    </insert>
    <update id="updateSupplier" parameterType="SupplierAdministration">
        UPDATE supplieradministration
        SET suppliername=#{suppliername},contacts=#{contacts},timeing=#{timeing},phone=#{phone},foundperson=#{foundperson},supplierstate=#{supplierstate}
        WHERE supplierno=#{supplierno}
    </update>
    <delete id="deleteBySupplierNo" parameterType="int">
        DELETE FROM supplieradministration WHERE supplierno=#{supplierno}
    </delete>

    <select id="selectSupplier" resultMap="supplier">
        SELECT *
        FROM supplieradministration

    </select>
    <select id="selectBySuppliername" resultMap="supplier">
        SELECT *
        FROM supplieradministration
        WHERE suppliername=#{suppliername}

    </select>
    <select id="selectBySupplierNo" resultMap="supplier">
        SELECT *
        FROM supplieradministration
        WHERE supplierno=#{supplierno}
    </select>
</mapper>