<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.SurchargeFeeMapper">
    <resultMap id="surchargeFee" type="com.gxa.entity.systemSettings.SurchargeFee">
        <id property="id" column="id"></id>
        <result property="surchargeName" column="surchargename"></result>
        <result property="price" column="price"></result>
        <result property="cost" column="cost"></result>
        <result property="timeing" column="timeing"></result>
        <result property="foundPerson" column="foundperson"></result>
        <result property="costState" column="coststate"></result>
        <result property="perscripId" column="perscrip_id"></result>
        <result property="prescriptionTable.perscripId" column="perscrip_id" jdbcType="INTEGER"></result>
        <result property="prescriptionTable.prescription" column="prescription" jdbcType="VARCHAR"></result>



    </resultMap>
    <insert id="addSurchargeFee" parameterType="com.gxa.entity.systemSettings.SurchargeFee">
        INSERT INTO surcharge_fee(surchargename,price,cost,timeing,foundperson,coststate,perscrip_id)
        VALUE (#{surchargeName},#{price},#{cost},#{timeing},#{foundPerson},#{costState},#{perscripId})
    </insert>
    <update id="updateSurchargeFee" >
        UPDATE surcharge_fee
        SET surchargename=#{surchargeName},price=#{price},cost=#{cost},timeing=#{timeing},foundperson=#{foundPerson},coststate=#{costState},perscrip_id=#{perscripId}
        WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM surcharge_fee
        WHERE id=#{id}
    </delete>

    <select id="queryAll" resultMap="surchargeFee">
        SELECT id,surchargeName,price,cost,timeing,foundperson,coststate,s.perscrip_id,p.perscrip_id,p.prescription
        FROM prescriptiontable p,surcharge_fee s
        WHERE s.perscrip_id=p.perscrip_id

    </select>


    <select id="queryByTj" resultMap="surchargeFee">
        SELECT id,surchargeName,price,cost,timeing,foundperson,coststate,s.perscrip_id,p.perscrip_id,p.prescription
        FROM surcharge_fee s,prescriptiontable p
        <where>
            s.perscrip_id=p.perscrip_id
            <if test="surchargeName != null and surchargeName != ''">
                AND surchargename=#{surchargeName}
            </if>

            <if test="prescription != null and prescription != ''">
                AND prescription=#{prescription}
            </if>

        </where>
    </select>

</mapper>