<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.SurchargeFeeMapper">
    <resultMap id="surchargeFee" type="com.gxa.entity.systemSettings.SurchargeFee">
        <id property="id" column="id"></id>
        <result property="surchargeName" column="surchargename"></result>
        <result property="prescription" column="prescription"></result>
        <result property="price" column="price"></result>
        <result property="cost" column="cost"></result>
        <result property="timeing" column="timeing"></result>
        <result property="foundPerson" column="foundperson"></result>
        <result property="costState" column="coststate"></result>



    </resultMap>
    <insert id="addSurchargeFee" parameterType="com.gxa.entity.systemSettings.SurchargeFee">
        INSERT INTO surcharge_fee(surchargename,prescription,price,cost,timeing,foundperson,coststate)
        VALUE (#{surchargeName},#{prescription},#{price},#{cost},#{timeing},#{foundPerson},#{costState})
    </insert>
    <update id="updateSurchargeFee" >
        UPDATE surcharge_fee
        SET surchargename=#{surchargeName},prescription=#{prescription},price=#{price},cost=#{cost},timeing=#{timeing},foundperson=#{foundPerson},coststate=#{costState}
        WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM surcharge_fee
        WHERE id=#{id}
    </delete>


    <select id="queryAll" resultMap="surchargeFee">
        SELECT *
        FROM surcharge_fee

    </select>
    <select id="queryBySurchargeName" resultMap="surchargeFee">
        SELECT *
        FROM surcharge_fee
        WHERE surchargename=#{surchargeName}
    </select>

    <select id="queryByPrescription" resultMap="surchargeFee">
        SELECT *
        FROM surcharge_fee
        WHERE prescription=#{prescription}
    </select>
    <select id="queryPrescription01" resultType="com.gxa.entity.systemSettings.PrescriptionTable">
        SELECT *
        FROM prescriptiontable
    </select>
</mapper>