<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.systemSettings.TreatmentFeeMapper">
    <resultMap id="treatmentFee" type="com.gxa.entity.systemSettings.TreatmentFee">
        <id property="id" column="id"></id>
        <result property="treatment" column="treatment"></result>
        <result property="price" column="price"></result>
        <result property="cost" column="cost"></result>
        <result property="timeing" column="timeing"></result>
        <result property="foundPerson" column="found_person"></result>
        <result property="costState" column="cost_state"></result>

    </resultMap>
    <insert id="addTreatmentFee">
        INSERT INTO treatment_fee(treatment,price,cost,timeing,found_person,cost_state)
        VALUE (#{treatment},#{price},#{cost},#{timeing},#{foundPerson},#{costState})
    </insert>
    <update id="updateTreatmentFee">
        UPDATE treatment_fee
        SET treatment=#{treatment},price=#{price},cost=#{cost},timeing=#{timeing},found_person=#{foundPerson},cost_state=#{costState}
        WHERE id=#{id}
    </update>
    <delete id="deleteTreatmentFee">
        DELETE FROM treatment_fee
        WHERE id=#{id}
    </delete>

    <select id="queryAll" resultMap="treatmentFee">
        SELECT *
        FROM treatment_fee
    </select>
    <select id="queryByTreatment" resultMap="treatmentFee">
        SELECT *
        FROM treatment_fee
        WHERE treatment=#{treatment}
    </select>
</mapper>