<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.drugRetail.DrugRetailMapper">

    <resultMap id="drugChooseMsg" type="com.gxa.entity.drugRetail.DrugChooseMsg">
        <id property="drugCode" column="code"></id>
        <result property="drugName" column="drug_name"></result>
        <result property="specs" column="specs"></result>
        <result property="drugType" column="drug_type"></result>
        <result property="manuFactor" column="manufacturer"></result>
        <result property="stock" column="stock"></result>
        <result property="salesPrice" column="sales_price"></result>
        <result property="company" column="base_unit"></result>
    </resultMap>
    <insert id="saveDrugMsg">
        INSERT INTO toll_drugs(toll_drugs_name,toll_drugs_money,toll_drugs_quantity,toll_drugs_unit,toll_drugs_retail,
                               person_idcard,person_name,toll_number,toll_drugs_ver)
        values (#{drugMsg.drugName},#{drugMsg.salesPrice},#{drugMsg.num},#{drugMsg.company},#{drugMsg.totalPrice},#{drugRetail.patientDocuments},#{drugRetail.patientName},#{drugRetail.tollNum},#{drugMsg.drugType})
    </insert>
    <insert id="savePatientMsg" parameterType="com.gxa.entity.drugRetail.DrugRetail">
        INSERT INTO patient_drugs(patient_card,patient_name,patient_age,patient_gender,patient_phone,patient_documents,patient_birthday,toll_number,operator)
        values (#{patientCard},#{patientName},#{patientAge},#{patientGender},#{patientPhone},#{patientDocuments},#{patientBirthday},#{tollNum},#{operator})
    </insert>
    <insert id="saveSurchargeMsg">
        INSERT INTO surcharges(name,price,num,person_name,person_idcard,toll_number)
        values (#{surChargeFee.surChargeName},#{surChargeFee.price},#{surChargeFee.num},#{drugRetail.patientName},#{drugRetail.patientDocuments},#{drugRetail.tollNum})
    </insert>
    <insert id="saveToll">
        INSERT INTO toll(toll_name,toll_age,toll_gender,toll_phone,toll_idcard,toll_number,toll_type,toll_doctor,toll_money,toll_state,toll_creat_time)
        values (#{patientName},#{patientAge},#{patientGender},#{patientPhone},#{patientDocuments},#{tollNum},"药品零售",#{operator},#{tollMoney},1,#{creatTime})
    </insert>
    <update id="updateStock" parameterType="com.gxa.entity.drugRetail.DrugMsg">
        UPDATE drugManagement_inventoryManagement_inventoryInfo
        SET stock=stock-#{num}
        WHERE drug_info_id=(SELECT d.id
                            FROM drugManagement_drugInformationTenance_drugBasicInformation d
                            WHERE d.drug_name=#{drugName})
    </update>
    <select id="queryByCode" parameterType="com.gxa.entity.drugRetail.DrugQueryCondition" resultMap="drugChooseMsg">
        select f.code,f.drug_name,f.drug_type,f.specs,f.manufacturer,i.stock ,f.sales_price,p.base_unit
        from drugManagement_drugInformationTenance_drugBasicInformation f,drugManagement_inventoryManagement_inventoryInfo i,
        drugManagement_drugInformationTenance_drugPackageInformation p
        <where>
            f.id=i.drug_info_id and f.id=p.drug_info_id
        <if test="drugType !=null and drugType !='' ">
            and f.drug_type=#{drugType}
        </if>
        <if test="drugCodeOrName !=null and drugCodeOrName !='' ">
            and f.code=#{drugCodeOrName}
        </if>
        </where>
    </select>
    <select id="queryByName" parameterType="com.gxa.entity.drugRetail.DrugQueryCondition" resultMap="drugChooseMsg">
        select f.code,f.drug_name,f.drug_type,f.specs,f.manufacturer,i.stock ,f.sales_price,p.base_unit
        from drugManagement_drugInformationTenance_drugBasicInformation f,drugManagement_inventoryManagement_inventoryInfo i,
        drugManagement_drugInformationTenance_drugPackageInformation p
        <where>
            f.id=i.drug_info_id and f.id=p.drug_info_id
            <if test="drugType !=null and drugType !='' ">
                and f.drug_type=#{drugType}
            </if>
            <if test="drugCodeOrName !=null and drugCodeOrName !='' ">
                and f.drug_name=#{drugCodeOrName}
            </if>
        </where>
    </select>
</mapper>