<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.register.RegisterMapper">

    <resultMap id="registerCondition" type="com.gxa.entity.registration.RegisterMsg">
        <id property="registrationForm" column="挂单单号"></id>
        <result property="name" column="patientName"></result>
        <result property="gender" column="patientGender"></result>
        <result property="phoneNo" column="patientPhone"></result>
        <result property="attendingDoctor" column="接诊医生"></result>
        <result property="receptionTime" column="接诊时间"></result>
        <result property="willPaid" column="实收金额"></result>
        <result property="amountPaid" column="实收金额"></result>
        <result property="status" column="就诊状态"></result>
    </resultMap>
    <resultMap id="registerUpdateMsg" type="com.gxa.entity.registration.RegisterMsgUpdate">
        <id property="registrationForm" column="挂单单号"></id>
        <result property="willPaid" column="实收金额"></result>
        <result property="insurancePayment" column="医保支付" ></result>
        <result property="amountPaid" column="实收金额" ></result>
        <result property="payMethod" column="支付方式" ></result>
        <result property="changeMoney" column="找零" ></result>
        <result property="registrationDateTime" column="创建时间" ></result>
        <result property="receptionType" column="接诊类型" ></result>
        <result property="attendingDoctor" column="接诊医生" ></result>
        <result property="registrationFee" column="挂号费" ></result>
        <result property="consultationFee" column="诊疗费" ></result>
        <result property="name" column="patientName" ></result>
        <result property="cardNo" column="patientCard" ></result>
        <result property="age" column="patientAge" ></result>
        <result property="birthDay" column="patientBirthday" ></result>
        <result property="gender" column="patientGender" ></result>
        <result property="phoneNo" column="patientPhone" ></result>
        <result property="idNo" column="patientDocuments" ></result>
        <result property="loc" column="patientAddress" ></result>
        <result property="remarks" column="patientRemark" ></result>
    </resultMap>
    <insert id="saveRegister" parameterType="com.gxa.entity.registration.Register">
        insert into register(挂号单号,接诊类型,接诊医生,挂号费,诊疗费,挂号日期,挂号员)
        values (#{registrationForm},#{receptionType},#{attendingDoctor},#{registrationFee},#{consultationFee},
                #{registrationDate},#{registrationClerk})
    </insert>
    <insert id="saveCharge" parameterType="com.gxa.entity.registration.Register">
        insert into charge(挂号单号,优惠金额,折扣,医保支付,实收金额,找零,支付方式,收款备注,收费日期)
        values (#{registrationForm},#{discountAmount},#{discount},#{medicalInsurancePayment},#{amountPaid},#{changeMoney},#{paymentMethod},
                #{collectionRemarks},#{registrationDateTime})
    </insert>
    <insert id="savePatient" parameterType="com.gxa.entity.registration.Register">
        insert into patient(patientRegistration,patientName,patientCard,patientAge,patientBirthday,patientGender,patientPhone,patientDocuments,
                            patientAddress,patientRemark)
        values (#{registrationForm},#{name},#{cardNo},#{age},#{birthDay},#{gender},#{phoneNo},#{idNo},#{loc},#{remarks})
    </insert>
    <update id="update" parameterType="com.gxa.entity.registration.RegisterMsgUpdate">

    </update>
    <delete id="delete">

    </delete>
    <select id="query" resultMap="registerCondition" parameterType="com.gxa.entity.registration.RegisterQueryCondition">
        select c.实收金额,p.patientName,p.patientGender,p.patientAge,p.patientPhone,r.接诊医生,r.挂号单号
        from charge c,patient p,register r
        <where>
            c.挂号单号 = p.patientRegistration and p.patientRegistration = r.挂号单号
            <if test="attendingDoctor != null and attendingDoctor !=''">
            and r.接诊医生=#{attendingDoctor}
            </if>
           <if test="patientName !=null and patientName !=''">
               and p.patientName=#{patientName}
           </if>
        </where>>
    </select>
    <select id="toUpdate" resultMap="registerUpdateMsg">
        select r.挂号单号,c.实收金额,c.医保支付,c.支付方式,c.找零,c.创建时间,r.接诊类型,
               r.接诊医生,r.挂号费,r.诊疗费,p.patientName,p.patientCard,p.patientAge
                ,p.patientBirthday,p.patientGender,p.patientPhone,p.patientDocuments
                ,p.patientAddress,p.patientRemark
        from charge c,patient p,register r
        where c.挂号单号 = p.patientRegistration
          and p.patientRegistration = r.挂号单号 and r.挂号单号=#{registrationForm}
    </select>
</mapper>