<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.register.RegisterMapper">

    <resultMap id="registerCondition" type="com.gxa.entity.registration.RegisterMsg">
        <id property="registrationForm" column="挂单单号"></id>
        <result property="name" column="患者姓名"></result>
        <result property="gender" column="性别"></result>
        <result property="phoneNo" column="手机号码"></result>
        <result property="attendingDoctor" column="接诊医生"></result>
        <result property="receptionTime" column="接诊时间"></result>
        <result property="willPaid" column="实收金额"></result>
        <result property="amountPaid" column="实收金额"></result>
        <result property="status" column="就诊状态"></result>
    </resultMap>
    <insert id="saveRegister">
        insert into register(挂单单号,接诊类型,接诊医生,挂号费,诊疗费,挂号日期,挂号员)
        values (#{registrationForm},#{receptionType},#{attendingDoctor},#{registrationFee},#{consultationFee},
                #{registrationDate},#{registrationClerk})
    </insert>
    <insert id="saveCharge">
        insert into charge(优惠金额,折扣,医保支付,实收金额,找零,支付方式,收款备注,收费日期)
        values (#{discountAmount},#{discount},#{medicalInsurancePayment},#{amountPaid},#{changeMoney},#{paymentMethod},
                #{collectionRemarks},#{registrationDateTime})
    </insert>
    <insert id="savePatient">
        insert into patient(患者姓名,患者卡号,患者年龄,出生日期,性别,手机号码,证件号码,地址,备注)
        values (#{name},#{cardNo},#{age},#{birthDay},#{gender},#{phoneNo},#{idNo},#{loc},#{remarks})
    </insert>
    <update id="update">

    </update>
    <delete id="delete">

    </delete>
    <select id="query" resultMap="registerCondition" parameterType="com.gxa.entity.registration.RegisterQueryCondition">
        select c.实收金额,p.患者姓名,p.性别,p.患者年龄,p.手机号码,r.接诊医生,r.挂单单号
        from charge c,patient p,register r
        <where>
            1=1
            <if test="attendingDoctor != null and attendingDoctor !=''">
            and 接诊医生=#{attendingDoctor}
            </if>
           <if test="patientName !=null and patientName !=''">
               and 患者姓名=#{patientName}
           </if>
        </where>>
    </select>
    <select id="toUpdate" resultType="com.gxa.entity.registration.RegisterMsgUpdate">

    </select>
</mapper>