<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.register.RegisterMapper">

    <resultMap id="registerCondition" type="com.gxa.entity.registration.RegisterMsg">
        <id property="registrationForm" column="registration_form"></id>
        <result property="name" column="patient_name"></result>
        <result property="gender" column="patient_gender"></result>
        <result property="phoneNo" column="patient_phone"></result>
        <result property="attendingDoctor" column="attending_doctor"></result>
        <result property="receptionTime" column="reception_time"></result>
        <result property="willPaid" column="amount_paid"></result>
        <result property="amountPaid" column="amount_paid"></result>
        <result property="status" column="status"></result>
    </resultMap>
    <resultMap id="registerUpdateMsg" type="com.gxa.entity.registration.RegisterMsgUpdate">
        <result property="registrationForm" column="registration_form" jdbcType="VARCHAR"></result>
        <result property="willPaid" column="amount_paid" jdbcType="DOUBLE"></result>
        <result property="insurancePayment" column="insurance_payment" jdbcType="DOUBLE"></result>
        <result property="amountPaid" column="amount_paid" jdbcType="DOUBLE"></result>
        <result property="payMethod" column="pay_method" jdbcType="VARCHAR"></result>
        <result property="changeMoney" column="change_money" jdbcType="DOUBLE"></result>
        <result property="registrationDateTime" column="registration_dateTime" jdbcType="TIMESTAMP"></result>
        <result property="receptionType" column="reception_type" jdbcType="VARCHAR"></result>
        <result property="attendingDoctor" column="attending_doctor" jdbcType="VARCHAR"></result>
        <result property="tolCollector" column="attending_doctor" jdbcType="VARCHAR"></result>
        <result property="registrationFee" column="registration_fee" jdbcType="DOUBLE"></result>
        <result property="consultationFee" column="consultation_fee" jdbcType="DOUBLE"></result>
        <result property="name" column="patient_name" jdbcType="VARCHAR"></result>
        <result property="cardNo" column="patient_card" jdbcType="VARCHAR"></result>
        <result property="age" column="patient_age" jdbcType="INTEGER"></result>
        <result property="birthDay" column="patient_birthday" jdbcType="TIMESTAMP"></result>
        <result property="gender" column="patient_gender" jdbcType="VARCHAR"></result>
        <result property="phoneNo" column="patient_phone" jdbcType="VARCHAR"></result>
        <result property="idNo" column="patient_documents" jdbcType="VARCHAR"></result>
        <result property="loc" column="patient_address" jdbcType="VARCHAR"></result>
        <result property="remarks" column="patient_remark" jdbcType="VARCHAR"></result>
    </resultMap>
    <insert id="saveCharge" parameterType="com.gxa.entity.registration.Register">
        insert into charge(registration_form,insurance_payment,amount_paid,change_money,pay_method,collection_remarks,registration_dateTime)
        values (#{registrationForm},#{medicalInsurancePayment},#{amountPaid},#{changeMoney},#{paymentMethod},
            #{collectionRemarks},#{registrationDateTime})
    </insert>
    <insert id="saveRegister" parameterType="com.gxa.entity.registration.Register">
        insert into register(registration_form,reception_type,attending_doctor,registration_fee,consultation_fee,registration_date,registration_clerk,status)
        values (#{registrationForm},#{receptionType},#{attendingDoctor},#{registrationFee},#{consultationFee},
                #{registrationDate},#{registrationClerk},#{status})
    </insert>
    <insert id="savePatient" parameterType="com.gxa.entity.registration.Register">
        insert into patients(registration_form,patient_name,patient_card,patient_age,patient_birthday,patient_gender,patient_phone,patient_documents,
                            patient_address,patient_remark)
        values (#{registrationForm},#{name},#{cardNo},#{age},#{birthDay},#{gender},#{phoneNo},#{idNo},#{loc},#{remarks})
    </insert>
    <update id="updateRegister" parameterType="com.gxa.entity.registration.RegisterMsgUpdate">
        UPDATE register
        SET reception_type=#{receptionType},attending_doctor=#{attendingDoctor}
        WHERE registration_form=#{registrationForm}
    </update>
    <update id="updatePatient" parameterType="com.gxa.entity.registration.RegisterMsgUpdate">
        UPDATE patients
        SET patient_age=#{age},patient_birthday=#{birthDay},patient_gender=#{gender},
            patient_phone=#{phoneNo},patient_documents=#{idNo},patient_address=#{loc},
            patient_remark=#{remarks}
        WHERE registration_form=#{registrationForm}

    </update>
    <delete id="deleteCharge">
        DELETE FROM charge WHERE registration_form=#{registrationForm}
    </delete>
    <delete id="deleteRegister">
        DELETE FROM register WHERE registration_form=#{registrationForm}
    </delete>
    <delete id="deletePatient">
        DELETE FROM patients WHERE registration_form=#{registrationForm}
    </delete>
    <select id="query" resultMap="registerCondition" parameterType="com.gxa.entity.registration.RegisterQueryCondition">
        select c.amount_paid,p.patient_name,p.patient_gender,p.patient_age,p.patient_phone,r.attending_doctor,r.registration_form
        from charge c,patients p,register r
        <where>
            c.registration_form = p.registration_form and p.registration_form = r.registration_form
            <if test="attendingDoctor != null and attendingDoctor !=''">
            and r.attending_doctor=#{attendingDoctor}
            </if>
           <if test="patientName !=null and patientName !=''">
               and p.patient_name=#{patientName}
           </if>
           <if test="visitStatus !=null and visitStatus !=''">
                and r.status=#{visitStatus}
           </if>
           <if test="startTime != null and startTime !=''">
                and r.registration_date>#{startTime}
           </if>
           <if test="endTime != null and endTime !=''">
               and #{endTime}>r.registration_date
           </if>
        </where>
        limit 10
    </select>
    <select id="toUpdate" resultMap="registerUpdateMsg" parameterType="string">
        select r.registration_form,c.amount_paid,c.insurance_payment,c.pay_method,c.change_money,c.registration_dateTime,r.reception_type,
               r.attending_doctor,r.registration_fee,r.consultation_fee,p.patient_name,p.patient_card,p.patient_age
                ,p.patient_birthday,p.patient_gender,p.patient_phone,p.patient_documents
                ,p.patient_address,p.patient_remark
        from charge c,patients p,register r
        where c.registration_form = p.registration_form
          and p.registration_form = r.registration_form and r.registration_form=#{registrationForm}
    </select>
    <select id="count" resultType="java.lang.Integer" parameterType="com.gxa.entity.registration.RegisterQueryCondition">
        SELECT COUNT(c.registration_form)
        FROM charge c,patients p,register r
        <where>
            c.registration_form = p.registration_form and p.registration_form = r.registration_form
            <if test="attendingDoctor != null and attendingDoctor !=''">
                and r.attending_doctor=#{attendingDoctor}
            </if>
            <if test="patientName !=null and patientName !=''">
                and p.patient_name=#{patientName}
            </if>
            <if test="visitStatus !=null and visitStatus !=''">
                and r.status=#{visitStatus}
            </if>
            <if test="startTime != null and startTime !=''">
                and r.registration_date>#{startTime}
            </if>
            <if test="endTime != null and endTime !=''">
                and #{endTime}>r.registration_date
            </if>
        </where>
    </select>
</mapper>