<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.business.BusinessMapper">
    <resultMap id="total" type="map" >
        <result property="date" column="registration_date"></result>
        <result property="money" column="total"></result>
    </resultMap>
    <resultMap id="todayRecord" type="com.gxa.entity.business.OutpatientRecordToday">
        <result property="age" column="patient_age"></result>
        <result property="gender" column="patient_gender"></result>
        <result property="status" column="status"></result>
        <result property="lastUpdateTime" column="registration_date"></result>
        <result property="phone" column="patient_phone"></result>
        <result property="type" column="reception_type"></result>
        <result property="doctor" column="attending_doctor"></result>
        <result property="patientsNum" column="patient_card"></result>
        <result property="patientsName" column="patient_name"></result>
    </resultMap>
    <select id="queryCountByToday" resultType="int">
        SELECT count(id) AS total FROM register WHERE registration_date=#{date}
         <if test="status !=null and status !='' ">AND status=#{status}</if>
    </select>

    <select id="queryTodayRevenue" resultType="java.lang.Double">
        SELECT SUM(registration_fee)+SUM(consultation_fee)+SUM(toll_money) FROM register r,toll t WHERE r.registration_date=#{date} AND t.toll_creat_time=#{date} AND r.status!='已退号'
    </select>

    <select id="queryTotal" resultMap="total">
        SELECT SUM(registration_fee)+SUM(consultation_fee)+SUM(toll_money) AS total,registration_date FROM register r,toll t WHERE r.registration_date=#{date} AND t.toll_creat_time=#{date}
    </select>
    <select id="queryByToday" resultMap="todayRecord">
        SELECT patient_card,patient_age,patient_gender,reception_type,attending_doctor,registration_date,patient_name,status,patient_phone FROM register r,patients p WHERE r.registration_form = p.registration_form
    </select>

</mapper>